.serviceSettingNavBtn::-webkit-scrollbar {
    /* width: 12px !important; */
    height: 0px;
}

/* For toggle button */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }